.editor {
  width: 100%;
  height: 100%;
}

.editor-title {
  position: absolute;
  right: 0;
  top: 0;
  margin: 12px;
  padding: 6px 8px 6px 8px;
  background-color: $base2;
  border-radius: 6px;
  font-size: 0.8em;

  transition: opacity ease 0.3s;
}

.editor-title.hidden {
  opacity: 0.2;
}

.CodeMirror {
  background-color: lighten($bg_color, 5%);
}

.CodeMirror-focused {
  background-color: white;
}

.cm-s-webgl-play {
  font-family: menlo, monaco, monospace;
  font-size: 12px;
  height: 100%;

  .CodeMirror-scroll {
    height: 100%;
  }

  .cm-builtin {
    color: $blue;
  }

  .cm-keyword {
    color: $orange;
  }

  .cm-meta {
    color: $violet;
  }

  .cm-number {
    color: $cyan;
  }

  .cm-comment {
    color: $green;
  }

  .cm-qualifier {
    color: $magenta;
  }

  .cm-operator {
    color: lighten($fg_color, 30%);
  }

  .error {
    color: $red;

    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAFCAYAAABirU3bAAAARUlEQVQIW2NkAII7urrGKpcvnwWxGUEcBhamMwx//pmABBnvGOr/Z/z/v+E/I2MDSJDxroFevfKFS40gGiTICNIHAyBBAO6YHGQtR2KsAAAAAElFTkSuQmCC);
    background-repeat: repeat-x;
    background-position: bottom;
  }

  &.error {
    background-color: lighten($red, 40%);
  }
}
