.editor {
  width: 100%;
  height: 100%;
}

.editor-title {
  position: absolute;
  right: 0;
  top: 0;
  margin: 12px;
  padding: 6px 8px 6px 8px;
  background-color: $base2;
  border-radius: 6px;
  font-size: 0.8em;

  transition: opacity ease 0.3s;
}

.editor-title.hidden {
  opacity: 0.2;
}

.CodeMirror {
  transition: background ease 0.3s;
}

.CodeMirror-focused {
  background-color: $base3;
}

.cm-s-webgl-play {
  font-family: menlo, monaco, monospace;
  font-size: 12px;
  height: 100%;

  .CodeMirror-scroll {
    height: 100%;
  }

  .cm-builtin {
    color: $blue;
  }

  .cm-keyword {
    color: $orange;
  }

  .cm-meta {
    color: $violet;
  }

  .cm-number {
    color: $cyan;
  }

  .cm-comment {
    color: $green;
  }

  .cm-qualifier {
    color: $magenta;
  }

  .cm-operator {
    color: lighten($fg_color, 30%);
  }

  .error {
    color: $red;

    text-decoration: underline;
  }

  &.error {
    background-color: lighten($red, 40%);
  }

  .error-message {
    margin: 0px 0px 0px 0px;
    padding: 6px 0px 3px 0px;
    color: white;
    list-style: none;

    li {
      background-color: lighten($orange, 10%);
      padding: 3px;

      &:first-child {
        border-top: 1px solid $red;
      }

      &:last-child {
        border-bottom: 1px solid $red;
      }
    }
  }
}
