.panel {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  height: 100%;

  $child1: "> div:first-child";
  $sep: "> div:nth-child(2)";
  $child2: "> div:last-child";
  $handle_size: 6px;
  $handle_border_width: 2px;

  #{$child1}, #{$child2} {
    position: relative;
  }

  #{$child1} {
    flex-basis: 50%;
  }

  #{$child2} {
    flex-grow: 1;
  }

  #{$sep} {
    border: 0;
    flex-basis: $handle_size - $handle_border_width;
    margin-right: -$handle_size;

    border-left-width: $handle_border_width;
    border-left-style: solid;
    border-image: linear-gradient(to right, $borders_color, lighten($borders_color, 20%)) 1 100%;
    cursor: ew-resize;
    z-index: 90;
  }

  .child-bin {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  &.vertical {
    flex-direction: column;

    #{$sep} {
      border-left-width: 0px;

      border-top-width: $handle_border_width;
      border-top-style: solid;
      border-image: linear-gradient(to bottom, $borders_color, lighten($borders_color, 15%)) 100% 1;
      cursor: ns-resize;
      margin-bottom: -$handle_size;
      margin-right: 0;
    }
  }
}

.panel {
  flex-basis: auto;
  flex-basis: main-size;
}

/* vi:ts=2:et */
